html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
}

header, footer {
  font-size: 1.5rem;
}

h1 {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

h1 > em {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
}

nav ol {
  font-size: 1.125rem;
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
}

img {
  width: 50%
}

div.a {
  line-height: 1.5;
}
