html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
}

header, footer {
  font-size: 1.5rem;
}

h1 {
  font-size: 1.5rem;
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

nav ol {
  font-size: 1.125rem;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: #8f2440;
}
