html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
}

header, footer {
  font-size: 1.5rem;
}

h1, h2 {
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #3f1622;
}

h1 > em {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
}

nav ol {
  font-size: 1.125rem;
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
  font-weight: bold;
}

nav ol > li {
  color: #8f2440;
}

a:link {
  text-decoration: none;
  color: #8f2440;
}

a:visited {
  text-decoration: underline;
  color: #8f2440;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}

a:active {
  text-decoration: underline;
  color: #3f1622;
}

img {
  width: 100%;
}
